<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="title" value="NIRDPR|Portal" />
		<add key="Delay" value="1800000" />
		<add key="SecurityProtocol" value="3072" />
		<!--<add key="SecurityProtocol" value="443" />-->
    
		<!--<add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>-->
	</appSettings>
  
	<connectionStrings>
		<!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
		<!--<add name="Thotapally" connectionString="Data Source=ERPSERVER;Initial Catalog=NIRDPR_PAYROLLS;User ID=sa;Password=Admin@nirdpr" providerName="System.Data.SqlClient" />-->
    <!--<add name="Thotapally" connectionString="Data Source=DESKTOP-67TGB0C;Initial Catalog=ITInventory;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->
		<add name="test" connectionString="Data Source=DESKTOP-HR2O428\SQLEXPRESS;Initial Catalog=ITInventory;Integrated Security=true" />
		<!--<add name="nird" connectionString="Data Source=60.60.60.3;Initial Catalog=payroll;User ID=payroll;Password=payroll" providerName="System.Data.SqlClient" />-->
		<!--<add name="Kittus" connectionString="Data Source=10.10.20.182;Initial Catalog=NIRDPR_IIS;User ID=sa;Password=kittus@1983" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
    
		<sessionState mode="InProc" cookieless="true" timeout="180"></sessionState>
		<trace enabled="false" localOnly="true" />
		<globalization culture="en-US" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="de-DE" />
		<pages clientIDMode="AutoID" buffer="true" validateRequest="false">
			<controls>
				<!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <add tagPrefix="VwdCms" namespace="VwdCms"/>
			</controls>
		</pages>
		<httpRuntime requestLengthDiskThreshold="1024" maxRequestLength="52428800" requestValidationMode="2.0" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
		<customErrors mode="Off" defaultRedirect="~/Error.aspx" />
		<compilation debug="true" targetFramework="4.0">
     
			<assemblies>
				<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<!--<add assembly="Microsoft.Data.Schema.Sql, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /> -->
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<!--<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
				<add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
				<add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
			</buildProviders>
		</compilation>
		<httpModules>
			<add name="SampleSqlInjectionScreeningModule" type="SampleSqlInjectionScreeningModule" />
			<!--<add name="SecureSession" type="SecureSessionModule"/>-->
			<add name="OnlineActiveUsers" type="OnlineActiveUsers.OnlineUsersModule" />
		</httpModules>
		<authentication mode="Windows">
			<forms loginUrl="~/Default.aspx" timeout="2880" />
		</authentication>
		<identity impersonate="true" />
		<httpHandlers>
			<add path="CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
			<!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <remove path="ScriptResource.axd" verb="GET"/>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>-->
		</httpHandlers>
	</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800" />
				<!--50MB-->
			</requestFiltering>
		</security>
		<modules runAllManagedModulesForAllRequests="true" />
		<defaultDocument enabled="true">
			<files>
				<remove value="default.html" />
				<remove value="index.html" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
				<remove value="iisstart.htm" />
				<remove value="default.aspx" />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
			<!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
		</handlers>
        <!--<staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>-->
	</system.webServer>
	<location path="CaptchaImage.axd">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
			<httpHandlers>
				<!--<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>-->
			</httpHandlers>
			<pages controlRenderingCompatibilityVersion="4.0">
				<controls>
					<!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
				</controls>
			</pages>
			<!--<pages enableEventValidation ="false"></pages>-->
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp from="pay.nirdpr@gmail.com">
				<network host="smtp.gmail.com" port="587" userName="pay.nirdpr@gmail.com" password="9246832775" enableSsl="true" defaultCredentials="false" />
			</smtp>
		</mailSettings>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="false" />
    </settings>
	</system.net>
</configuration>
